* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #191919; */
    background-color: #DCDCDC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#hello_h1 {
    color: black;
    position: absolute;
    top: 15%;
}


select {
    padding: 10px 20px;
    border-radius: 8px;
}


#main_btn {
    display: none;
    margin-top: 20px;
}

#alert_info {
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
    display: none;
}

#btn_next {
    display: none;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    padding: 8px;
    background: rgb(21, 112, 248);
    color: #fff;
}

select:hover {
    cursor: pointer;
}

.mainWord {
    font-size: 2.8vh;
}

.mainWord, .picWord {
    margin: 10px;
    text-align: center;
}

.descWord {
    font-size: 2.3vh;
    color: #696969;
    text-align: center;
}


.main {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
}

#btn_start {
    /* margin: 0 auto; */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.3em;
    cursor: pointer;
    background: #1E90FF;
    border: none;
    border-radius: 7px;
    color: white;
}


.showWords {
    font-size: 1.9vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.showWords p {
    text-align: center;
    color: black;
}

.showWords img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


#blue {
    color: #1E90FF;
}

#color {
    color: #1E90FF;
}

#white {
    color: black;
}

#color, #white {
    font-size: 1.5em;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .main {
        width: 100%;
        margin-bottom: 20px;
    }

    .showWords {
        font-size: 1.8vh;
    }

    body {
        justify-content: flex-end;
        margin-bottom: 10%;
    }


}


@media screen and (max-width: 400px) {
    .showWords {
        font-size: 1.7vh;
    }
}



